html, body {
    height: 100%;
    background-color: #ffffff;
    overflow-y: overlay;
    overflow-x: hidden;
}

h2 {
    font-weight: 500;
}

a {
    color: rgb(226, 183, 28);
    font-weight: 900;
}

a:hover, .nav-link.active {
    color: rgb(226, 183, 28)!important;
}

.text-center {
    color: rgb(0, 0, 0)!important;
    font-weight: 900;
}

.btn-outline-info {
    transition: 0.25s ease;
    color: rgb(0, 0, 0)!important;
    border: 2px solid rgb(56,56,56)!important;
    font-weight: 900;
}

.btn-outline-info:hover {
    color: rgb(0, 0, 0)!important;
    background-color: rgb(226, 183, 28)!important;
    border: 2px solid rgb(56,56,56)!important;
    transition: 0.25s ease;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

ul {
    background-color: #ffffff;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(226, 183, 28);
}

.red-text {
    color: rgb(226, 183, 28)!important;
    cursor: default!important;
    padding-bottom: 10px!important;
}

.front-img {
    width: 3em;
}

.nav-link {
    color: rgb(0,0,0);
}

.form-row {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 0!important;
}

.align-middle {
    vertical-align: top!important;
    padding-top: 50px;
}

.card-body {
    padding: 1rem!important;
}

.pt-0 {
    padding-top: 1rem!important;
}

.md-form .hold-back {
    margin-bottom: 0rem!important;
}

.drop-off {
    margin-bottom: 5rem!important;
}

.navbar, .card, .z-depth-1-half {
    box-shadow: none!important;
}

.card {
    border: 1px solid rgba(0,0,0,1);
    border-top: none;
}

.nav-link {
    border-bottom: 1px solid rgb(0, 0, 0)!important;
}

.nav-tabs {
    border: none!important;
}

.nav-link.active {
    border: 1px solid rgb(0, 0, 0)!important;
    border-bottom: none!important;
}

.card:nth-of-type(even) {
    border-radius: 0!important;
}

.card:nth-of-type(odd) {
    border-radius: 0!important;
}

.accordion {
    border-bottom: 1px solid rgba(0,0,0,1);
}

.text-light {
    color: rgb(0,0,0)!important;
}

.mb-4, .my-4 {
    padding-bottom: 0.75rem!important;
    padding-top: 0.75rem!important;
    margin-bottom: 0!important;
    border: none!important;
}

.grey-out, .grey-out-rooms {
    background-color: rgb(110,110,110);
    color: rgb(227, 184, 28)!important;
    margin-bottom: 5px!important;
}

.grey-out, .grey-out-rooms {
    border: 2px solid rgb(0,0,0)!important;
}

.grey-out-rooms:nth-of-type(odd), .grey-out-account:nth-of-type(odd), .card-header{
    background-color: rgb(110,110,110);
    color: rgb(227, 184, 28);
}

.card-header {
    background-color: rgb(56,56,56);
    padding-bottom: 15px;
}


.col-lg {
    padding: 0!important;
}

.card-header {
    padding-left: 2rem!important;
    padding-right: 3rem!important;
    cursor: default!important;
    border-bottom: 1px solid rgb(0,0,0);
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: rgb(0,0,0)!important;
}

.nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.border {
    border: none!important;
}

.centre-text {
    text-align: center;
    background-color: rgba(255,255,255,0);
}

.col-auto {
    margin-top: -10px!important;
}

.mr-auto {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

p {
    margin-bottom: 0!important;
}

.account-heading {
    padding-left: 0.5rem!important;
    font-weight: 900!important;
}

.small-gap {
    padding-bottom: 0!important;
}

.border-upper {
    border-top: 1px solid rgba(0,0,0,0.125);
}

.container-fluid {
    margin-bottom: 15px;
}

.account-table {
    margin-left: 0.5rem!important;
    font-size: 1rem!important;
    width: 95%;
    overflow-x: scroll;
}

strong {
    font-weight: bold!important;
}

table {
    overflow: auto;
}

table td {
    font-size: 1rem!important;
    height: 3rem!important;
}

.account-row {
    border-radius: 0.25rem!important;
}

.account-table, .stats-table {
    width: calc(100% - 15px);
}

.account-table {
    display: block!important;
}

.account-row:nth-of-type(even), .account-first, .stats-row:nth-of-type(even), .stats-row:nth-of-type(0) {
    color: rgb(226, 183, 28)!important;
    background-color: rgb(56,56,56)!important;
}

.right-column {
    text-align: right;
    border-top-right-radius: 0.25rem!important;
    border-bottom-right-radius: 0.25rem!important;
}

.btn.btn-sm {
    font-size: 0.9rem!important;
    margin-bottom: 20px!important;
}

hr {
    width: 120%;
    margin-left: -1rem!important;
    border: 0.5px solid rgb(0,0,0);
}

.waves-effect {
    border: none!important;
}

.overview {
    margin-bottom: 1rem!important;
}

.section-title {
    display: block!important;
    margin-left: 20%!important;
    margin-right: 20%!important;
    padding: 1rem!important;
    color: rgba(0, 0, 0, 1)!important;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 2rem!important;
    font-weight: 500!important;
}

.m-2 {
    margin: 0!important;
}

.stats-table {
    width: 100%!important;
    padding-bottom: 20px!important;
}

.stats-left {
    border-top-left-radius: 0.25rem!important;
    border-bottom-left-radius: 0.25rem!important;
}

.stats-right {
    border-top-right-radius: 0.25rem!important;
    border-bottom-right-radius: 0.25rem!important;
    text-align: right!important;
}

.account-left {
    border-top-left-radius: 0.25rem!important;
    border-bottom-left-radius: 0.25rem!important;
    min-width: 140px;
}

.login-links {
    font-size: 0.9rem!important;
}

.card-header:first-child {
    border-radius: 0%!important;
}

.custom-select {
    color: rgb(0, 0, 0)!important;
}

.alter-display {
    display: block!important;
}

.room-title {
    font-weight: 800!important;
    color: rgb(0, 0, 0)!important;
    border-bottom: 1px solid rgba(56, 56, 56, 1);
    padding: 10px!important;
    margin-right: 10%!important;
    margin-left: 10%!important;
}

.reduce-space {
    padding-top: 20px!important;
}

.bold-title {
    font-weight: 800!important;
}

.drop-up {
    margin-bottom: 0rem!important;
}

select {
    font-family: Roboto,sans-serif;
}

.confirmation {
    padding-top: 100px;
    display: block;
}

.confirmation-logo {
    width: 5em;
}

.budget-input {
    display: flex!important;
}

.budget-input input {
    margin-left: 5px!important;
}

.budget-input label {
    margin-left: 15px!important;
}

.text-dark {
    color: rgb(0, 0, 0);
}

.double-stat {
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-control-label::before {
    background-color: transparent!important;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #1b29c1!important;
    border: 1px solid #1b29c1!important;;
}

.device_room_heading {
    font-size: 1.5rem!important;
    margin-top: 40px!important;
    margin-bottom: 10px!important;
    text-align: center!important;
}

.device_room_heading:nth-of-type(1) {
    margin-top: 0px!important;
}

.onOffLabel {
    margin-top: -6px;
    font-size: 1.5rem;
}

.room_icon {
    margin-top: 0px;
}

.my-4 {
    border: 2px solid rgb(56,56,56)!important;
}

.login-links {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    padding-left: none!important;
    padding-right: none!important;
}

.modalTimer {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin-top: 10px;
    margin-bottom: -10px;
    transition: max-height 10s ease;
}

.modalContent {
    z-index: 1;
    transition: all 1s linear;
    border: 2px solid rgb(0,0,0);
    text-align: center;
    background-color: rgb(110,110,110);
    color: rgb(0,0,0);
    max-height: 90%;
    width: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 1%;
    line-height: 22px;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}

.modalHeader {
    font-weight: 900;
}

.timerModal {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: -15px;
}

.timerBtn {
    display: inline-block;
    width: 80%;
}

.timer_icon {
    z-index: 10;
    position: absolute;
    top: -10px;
    right: -10px;
    display: none;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    font-size: 30px;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    padding: 2.5px;
    border-radius: 30px;
}

.shiftSub {
    margin-top: 5px;
}

@media (min-width: 576px) {
    .modalContent {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .modalContent {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .modalContent {
        width: 80%;
    }
}

.weather_bar {
    padding-top: 10px;
    font-family: Roboto,sans-serif;
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid rgb(0,0,0);
}

.weather_symbol {
    width: 100px;
}

.weather_advice {
    font-family: Roboto,sans-serif;
    margin-bottom: 20px;
}

.weather-page {
    border-left: 1px solid rgb(0,0,0);
    border-right: 1px solid rgb(0,0,0);
}

.weather_advice_body {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
}

.advice_point td {
    text-align: center;
    padding: 10px;
    border-radius: 0.25rem;
}

.advice_point:nth-of-type(even) {
    background-color: rgb(56,56,56);
    color: rgb(226, 183, 28);
}

.weather_table {
    width: 100%;
    text-align: center;
}