html, body {
    height: 100%;
    background-color: #ffffff;
    overflow-y: overlay;
    overflow-x: hidden;
    transition: all .2s ease-in-out!important;
    scroll-behavior: smooth;
}

h2 {
    font-weight: 500;
}

a {
    color: rgb(226, 183, 28);
    font-weight: 900;
}

a:hover, .nav-link.active {
    color: rgb(226, 183, 28)!important;
}

.text-center {
    color: rgb(0, 0, 0)!important;
    font-weight: 900;
}

.btn-outline-info {
    transition: 0.25s ease;
    color: rgb(0, 0, 0)!important;
    border: 2px solid rgb(56,56,56)!important;
    font-weight: 900;
}

.btn-outline-info:hover {
    color: rgb(0, 0, 0)!important;
    background-color: rgb(226, 183, 28)!important;
    border: 2px solid rgb(56,56,56)!important;
    transition: 0.25s ease;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

ul {
    background-color: #ffffff;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background: rgb(110,110,110);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(226, 183, 28);
}

.red-text {
    color: rgb(226, 183, 28)!important;
    cursor: default!important;
    padding-bottom: 10px!important;
}

.front-img {
    width: 3em;
}

.nav-link {
    color: rgb(0,0,0);
}

.form-row {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 0!important;
}

.align-middle {
    vertical-align: top!important;
    padding-top: 50px;
}

.card-body {
    padding: 1rem!important;
}

.pt-0 {
    padding-top: 1rem!important;
}

.md-form .hold-back {
    margin-bottom: 0rem!important;
}

.drop-off {
    margin-bottom: 5rem!important;
}

.navbar, .card, .z-depth-1-half {
    box-shadow: none!important;
}

.card {
    border: 1px solid rgba(0,0,0,1);
    border-top: none;
}

.nav-link {
    border-bottom: 1px solid rgb(0, 0, 0)!important;
}

.nav-tabs {
    border-bottom: 1px solid rgb(0,0,0)!important;
}

.nav-link.active {
    border: 1px solid rgb(0, 0, 0)!important;
    border-bottom: 1px solid white!important;
}

.card:nth-of-type(even) {
    border-radius: 0!important;
}

.card:nth-of-type(odd) {
    border-radius: 0!important;
}

.accordion {
    border-bottom: 1px solid rgba(0,0,0,1);
}

.text-light {
    color: rgb(0,0,0)!important;
}

.mb-4, .my-4 {
    padding-bottom: 0.75rem!important;
    padding-top: 0.75rem!important;
    margin-bottom: 0!important;
    border: none!important;
}

.grey-out, .grey-out-rooms {
    background-color: rgb(110,110,110);
    color: rgb(227, 184, 28)!important;
    margin-bottom: 5px!important;
}

.grey-out, .grey-out-rooms {
    border: 2px solid rgb(0,0,0)!important;
}

.grey-out-rooms:nth-of-type(odd), .grey-out-account:nth-of-type(odd), .card-header{
    background-color: rgb(110,110,110);
    color: rgb(227, 184, 28);
}

.card-header {
    background-color: rgb(56,56,56);
    padding-bottom: 15px;
}


.col-lg {
    padding: 0!important;
}

.card-header {
    padding-left: 2rem!important;
    padding-right: 3rem!important;
    cursor: default!important;
    border-bottom: 1px solid rgb(0,0,0);
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: rgb(0,0,0)!important;
}

.nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.border {
    border: none!important;
}

.centre-text {
    text-align: center;
    background-color: rgba(255,255,255,0);
}

.col-auto {
    margin-top: -10px!important;
}

.mr-auto {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

p {
    margin-bottom: 0!important;
}

.account-heading {
    padding-left: 0.5rem!important;
    font-weight: 900!important;
}

.small-gap {
    padding-bottom: 0!important;
}

.border-upper {
    border-top: 1px solid rgba(0,0,0,0.125);
}

.container-fluid {
    margin-bottom: 15px;
}

.account-table {
    margin-left: 0.5rem!important;
    font-size: 1rem!important;
    width: 95%;
    overflow-x: scroll;
}

strong {
    font-weight: bold!important;
}

table {
    overflow: auto;
}

table td {
    font-size: 1rem!important;
    height: 3rem!important;
}

.account-row {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.25rem!important;
}

.account-table, .stats-table {
    width: calc(100% - 15px);
}

.account-table {
    display: block!important;
}

.account-row:nth-of-type(even), .account-first, .stats-row:nth-of-type(even), .stats-row:nth-of-type(0) {
    color: rgb(226, 183, 28)!important;
    background-color: rgb(56,56,56)!important;
}

.right-column {
    text-align: right;
    border-top-right-radius: 0.25rem!important;
    border-bottom-right-radius: 0.25rem!important;
}

.btn.btn-sm {
    font-size: 0.9rem!important;
    margin-bottom: 20px!important;
}

hr {
    width: 200%;
    margin-left: -10rem!important;
    margin-right: -10rem!important;
    border: 0.5px solid rgb(0,0,0);
}

.waves-effect {
    border: none!important;
}

.overview {
    margin-bottom: 1rem!important;
}

.section-title {
    display: block!important;
    margin-left: 15%!important;
    margin-right: 15%!important;
    padding: 1rem!important;
    color: rgba(0, 0, 0, 1)!important;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 2rem!important;
    font-weight: 500!important;
}

.m-2 {
    margin: 0!important;
}

.stats-table {
    width: 100%!important;
    padding-bottom: 20px!important;
}

.stats-left {
    border-top-left-radius: 0.25rem!important;
    border-bottom-left-radius: 0.25rem!important;
    text-align: left;
}

.stats-right {
    border-top-right-radius: 0.25rem!important;
    border-bottom-right-radius: 0.25rem!important;
    text-align: right!important;
}

.account-left {
    border-top-left-radius: 0.25rem!important;
    border-bottom-left-radius: 0.25rem!important;
    min-width: 140px;
}

.login-links {
    font-size: 0.9rem!important;
}

.card-header:first-child {
    border-radius: 0%!important;
}

.custom-select {
    color: rgb(0, 0, 0)!important;
}

.alter-display {
    display: block!important;
}

.room-title {
    font-weight: 800!important;
    color: rgb(0, 0, 0)!important;
    border-bottom: 1px solid rgba(56, 56, 56, 1);
    padding: 10px!important;
    margin-right: 10%!important;
    margin-left: 10%!important;
}

.reduce-space {
    padding-top: 20px!important;
}

.bold-title {
    font-weight: 800!important;
}

.drop-up {
    margin-bottom: 0rem!important;
}

select {
    font-family: Roboto,sans-serif;
}

.confirmation {
    padding-top: 100px;
    display: block;
}

.confirmation-logo {
    width: 5em;
}

.budget-input {
    display: flex!important;
}

.budget-input input {
    margin-left: 5px!important;
}

.budget-input label {
    margin-left: 15px!important;
}

.text-dark {
    color: rgb(0, 0, 0);
}

.double-stat {
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-control-label::before {
    background-color: transparent!important;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #1b29c1!important;
    border: 1px solid #1b29c1!important;;
}

.device_room_heading {
    font-size: 1.5rem!important;
    margin-top: 40px!important;
    margin-bottom: 10px!important;
    text-align: center!important;
}

.device_room_heading:nth-of-type(1) {
    margin-top: 0px!important;
}

.onOffLabel {
    margin-top: -6px;
    font-size: 1.5rem;
}

.room_icon {
    margin-top: 0px;
}

.my-4 {
    border: 2px solid rgb(56,56,56)!important;
}

.login-links {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    padding-left: none!important;
    padding-right: none!important;
}

.modalTimer, .modalStatsWrap {
    margin-left: 0px!important;
    margin-right: 0px!important;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5vw!important;
    padding-top: calc(50vh - 20vh)!important;
}

.modalTimer {
    overflow-y: none;
}

#content_timer_home {
    max-height: 221px!important;
}

.modalRoomTimer{
    max-height: 229px!important;
}

.modalStatsWrap {
    padding-top: 5vw!important;
}

.modalContent {
    max-height: 253px;
    z-index: 11;
    transition: all 1s linear;
    border: 2px solid rgb(0,0,0);
    text-align: center;
    background-color: rgb(110,110,110);
    color: rgb(0,0,0);
    width: 100%;
    line-height: 22px;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.modalStats {
    max-height: none!important;
    height: auto!important;
}

.modalContentTimer {
    overflow-x: hidden;
}

.modalHeader {
    padding: 20px;
    border-bottom: 1px solid black;
    background-color: rgb(56,56,56);
    color: rgb(226, 183, 28);
    width: 100%;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 20px;
    padding-right: 35px;
    padding-left: 35px;
    line-height: 30px;
}

.timerModal {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: -15px;
}

.timerBtn {
    display: inline-block;
    width: 80%;
    background-color: white;
    border: 2px solid rgb(0,0,0);
    margin-bottom: 15px!important;
    margin-top: 20px!important;
}

.timer-end {
    margin-top: -10px;
}

.timer_icon {
    z-index: 10;
    position: absolute;
    top: -7px;
    right: -7px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    font-size: 30px;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    padding: 2.5px;
    border-radius: 30px;
}

.stats_icon {
    display: flex;
    z-index: 10;
    position: absolute;
    top: -7px;
    left: -7px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    font-size: 30px!important;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    padding-left: 2.5px;
    padding-top: 0px;
    border-radius: 30px;
}

.stats_icon_x {
    display: none;
    margin-top: 2px;
    margin-right: 2px;
    z-index: 10;
    float: right;
    align-items: center;
    font-size: 30px;
    width: 35px;
    height: 35px;
    padding-left: 7px;
    padding-top: 1px;
    border-radius: 30px;
}

.timer_icon_x {
    display: flex;
    margin-top: 2px;
    margin-right: 2px;
    z-index: 10;
    float: right;
    align-items: center;
    font-size: 30px;
    width: 35px;
    height: 35px;
    padding-left: 7px;
    padding-top: 1px;
    border-radius: 30px;
}

.x-adjust {
    background-color: rgb(56,56,56);
    height: 0;
}

.timer_icon:hover, .stats_icon:hover, .stats_icon_x:hover, .timer_icon_x:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.shiftSub {
    margin-top: 5px;
}



@media (min-width: 576px) {

    /* .modalContent {
        width: 100%;
    } */

    #separater1, #separater2 {
        display: block;
    }
}

@media (min-width: 768px) {
    @media (orientation:portrait){
        .landscape {
            display: block!important;
        }
    }

    /* .modalContent {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    } */

    .modalStatsWrap {
        padding-left: 20vw!important;
        padding-right: 20vw!important;
        padding-top: 15vh!important;
        padding-bottom: 15vh!important;
    }

    .weather_advice_body {
        margin-left: 75px!important;
        margin-right: 75px!important;
    }

    #separater1, #separater2 {
        display: block;
    }
}

@media (min-width: 850px) {
    .weather_advice_body {
        margin-left: 150px!important;
        margin-right: 150px!important;
    }
}

@media (min-width: 992px) {

    /* .modalContent {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    } */

    .modalStatsWrap {
        padding-left: 25vw!important;
        padding-right: 25vw!important;
        padding-top: 5vh!important;
        padding-bottom: 5vh!important;
    }

    .weather_advice_body {
        margin-left: 300px!important;
        margin-right: 300px!important;
    }

    #separater1, #separater2 {
        display: none;
    }
}

.weather_bar {
    padding-top: 3px;
    font-family: Roboto,sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid rgb(0,0,0);
}

.weather_symbol {
    margin-bottom: -30px;
    width: 100px;
    margin-top: -10px;
}

.weather_symbol_small {
    margin-bottom: -20px;
    width: 70px;
    margin-top: 6.5px;
}

.weather_symbol_large {
    margin-bottom: -14px;
    font-size: 60px;
    margin-top: 16px;
}

.weather_advice {
    font-family: Roboto,sans-serif;
    margin-bottom: 20px;
}

.weather-page {
    border-left: 1px solid rgb(0,0,0);
    border-right: 1px solid rgb(0,0,0);
}

.weather_advice_body {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
}

.advice_point td {
    text-align: center;
    padding: 10px;
    border-radius: 0.25rem;
}

.advice_point:nth-of-type(even) {
    background-color: rgb(56,56,56);
    color: rgb(226, 183, 28);
}

.weather_table, .stats_table {
    width: 100%;
    text-align: center;
}

.weather_table td {
    font-weight: 400!important;
}

.weather_analysis {
    font-weight: 900!important;
    font-size: 18px!important;
    padding: 10px!important;
}

.tilt-icon {
    width: 120px;
}

.orientation {
    text-align: center;
    display: none;
}

@media (max-width: 576px) {
    @media (orientation:landscape){
        .landscape {
            display: block!important;
        }
    }

    .home-left, .home-right {
        padding-top:0!important;
        padding-bottom:0!important;
    }

    @media (orientation:portrait){
        .landscape {
            display: none!important;
        }

        .orientation {
            display: block;
        }
    }
}

@media (max-width: 768px) {
    @media (orientation:landscape){
        #masterLineChart {
            width: 430px!important;
            height: 215px!important;
            margin-left: 40px!important;
        }
    }
}

.r-pad-stats {
    padding-right: 15px;
}

.l-pad-stats {
    padding-left: 15px;
}

.modalStats {
    padding-bottom: 15px;
    background-color: white!important;
    max-height: 100%!important;
}

.modalBody {
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.modalSub {
    font-size: 20px;
    font-weight: 600;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.stats-pie {
    margin-bottom: 20px;
}

.comparison {
    margin-bottom: 15px;
}

.raise {
    margin-top: -10px;
}

.tighten {
    height: 2rem!important;
}

.home-table {
    margin: 20px;
    margin-bottom: 0;
    text-align: center!important;
}

#home_devices, .home-left {
    background-color: rgb(110,110,110);
    color: rgb(226, 183, 28);
    border: 2px solid black!important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.home-right:hover, .home-left:hover {
    cursor: pointer;
}


b {
    display: none;
}

.loader {
    display: none;
    border: 5px solid rgb(56,56,56);
    border-top: 5px solid white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
}

.fa-fan {
    animation: spin 2s linear infinite;
}

.fa-fire-alt {
    animation:shake 0.2s infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}

#home_loader {
    margin-top: 14px;
    margin-bottom: 15px;
}

.hub_row {
    font-size: 18px!important;
    font-weight: 500;
}

.hub_row:hover {
    cursor: pointer;
}
.modal-row{
    margin: 0;
}

.carousel-control-next, .carousel-control-prev {
    color: black!important;
}

#button_separator {
    margin-bottom: 0!important;
}

.modal-footer {
    border:none!important;
}

body.modal-open {
    overflow: overlay!important;
}

.pageHeader {
    text-align:center;
    font-size: 30px;
    font-weight: 600;
}

.helpTable {
    text-align: center!important;
    margin-bottom: 40px;
}

.helpTable td {
    padding-bottom: 15px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#noDevices {
    background-color:rgba(0,0,0,0.9)!important;
    padding-left:5vh;
    padding-right:5vh!important;
    padding-bottom:0!important;
    padding-bottom:100%!important;
    padding-top:40vh!important;
}

.homeButtons {
    padding-left: 7.5px!important;
    padding-right: 7.5px!important;
}